<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %}</title>
</head>
{% block css %}
{% endblock %}
<body>
{% block head %}
{% endblock %}

<div align="center"><img  class="title" src="/static/image/title.jpg" height="60" width="600"></div>
<br /><br />

{% block header %}
{% endblock %}

{% block container %}
{% endblock %}

<div class="foot">
	<div class="f_u">
	    <div class="u_1">
	        <div class="u"><a href="http://115.28.17.62:8080" style="color: black;">CyanScikit科技</a></div>
	        <div class="u"><a href="http://blog.csdn.net/gamer_gyt" style="color: black;">Thinkgamer的博客</a></div>
		</div>
		<div class="u_2">
            <div class="u"><a href="" style="color: black;">Cyan博客</a></div>
            <div class="u"><a href="" style="color: black;">官方微博</a></div>
		</div>
		<div class="u_3">
		    <div class="u"><a href="" style="color: black;">联系我们</a></div>
		    <div class="u"><a href="" style="color: black;">爱奇艺</a></div>
		</div>
	</div>
	<div class="f_d">
        <span class="f_z">made by CyansCikit科技</span>
    </div>
</div>

<script>
	var As=document.getElementById("nav").getElementsByTagName("a");
	As[0].style.color="red";
	function bian(n){
	   	for(var j=0;j<As.length;j++){
	   		As[n].style.color="red";
	   		if(j!=n){
	  			As[j].style.color="white";
            }
        }
    }
</script>
</body>
</html>
