{% extends "base.html" %}

{% block css %}
<link type="text/css" href="/static/css/user.css" rel="stylesheet">
<link type="text/css" href="/static/css/base.css" rel="stylesheet">
{% endblock %}

{% block title %}
    关注分析
{% endblock %}

{% block head %}
<script>
    {% if not name %}
    alert("你还没有登录，请先登录....");
    window.location.href="/login/login";
    {% endif %}
</script>

<div class="head">
    <div class="h_l">
	    <p style="color: darkgrey; font-size: 18px;">  欢迎您，{{ name }}&nbsp;&nbsp;&nbsp;<a href="/login/login" style="text-decoration: none">注销</a> </p>
	</div>

    <div class="h_r" id="nav">
	   	<ul>
			<li class="h_li"><a href="/index/user/{{ name }}" onclick="bian(0)">&nbsp;用户分析&nbsp;</a></li>
			<li class="h_li"><a href="/blog/blog/{{ name }}" onclick="bian(1)">&nbsp;博客分析&nbsp;</a></li>
		</ul>
	</div>
</div>
{% endblock %}


{% block header %}
<div class="header" id="nav">
	<ul >
        <li class="h_li">
            <a class="h_a 3" onclick="bian(0)" href="/index/user/{{ name }}" >&nbsp;&nbsp;互动分析&nbsp;</a>
        </li>
		<li class="h_li">
            <a class="h_a 2" onclick="bian(1)" href="/index/focus/{{ name }}" style="border-bottom: 5px solid #000000;margin-left: 15px">&nbsp;&nbsp;关注分析&nbsp;</a>
        </li>
		<li class="h_li">
            <a class="h_a 1" onclick="bian(2)" href="/index/fans/{{ name }}" style="margin-left: 15px;">&nbsp;&nbsp;粉丝分析&nbsp;</a>
        </li>
        <li class="h_li">
            <a class="h_a 4" onclick="bian(3)" href="/index/tuijian/{{ name }}" style="margin-left: 15px;">&nbsp;&nbsp;用户推荐&nbsp;</a>
        </li>&nbsp;
    </ul>
</div>
<br />
{% endblock %}

{% block container %}
<div class="con">
    <div class="attention">
		<div class="a_l" align="center">
		    <div><h2>所有关注</h2></div><br />
            {% for fname in focusname_list %}
		    <div class="a_l_1"><a href="http://blog.csdn.net/{{ fname }}">{{ fname }}</a> </div>
            {% endfor %}
		</div>
		<div class="ce" style="float: left; margin-left: 15px;"></div>
        <div class="a_r">
            <div class="s_t2 a_h"><h2>日关注人数/周</h2></div><br />
		    <div class="s_main pub" align="center">
			    <canvas id="mycanvas3" class="s_canvas" height="440" width="600"></canvas>
			</div>
			<br />
            <div class="s_t2 a_h"><h2>关注总数/周</h2></div><br />
            <div class="s_main pub" align="center">
                <canvas id="mycanvas4" class="s_canvas" height="440" width="600"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
for(var k=3;k<=4;k++) {
    var a = document.getElementById('mycanvas' + k);
    if (a) {
	var b=a.getContext('2d');
				//x轴
				b.moveTo(30,45);
				b.lineTo(30, 440);
				b.moveTo(30,45);
				b.lineTo(38,60);
				b.moveTo(30,45);
				b.lineTo(22,60);
				b.stroke();
				//y轴S
				b.moveTo(0,410);
				b.lineTo(595,410);
				b.moveTo(595,410);
				b.lineTo(580,418);
				b.moveTo(595,410);
				b.lineTo(580,402);
				b.stroke();

				b.moveTo(105,410);
				b.lineTo(105,405);
				b.moveTo(180,410);
				b.lineTo(180,405);
				b.moveTo(255,410);
				b.lineTo(255,405);
				b.moveTo(330,410);
				b.lineTo(330,405);
				b.moveTo(405,410);
				b.lineTo(405,405);
				b.moveTo(480,410);
				b.lineTo(480,405);
				b.moveTo(555,410);
				b.lineTo(555,405);
				b.stroke();
				b.font="20px Georgia";
				b.textBaseline="top";
				b.strokeText("Mon.",80,413);
				b.strokeText("Tues.",155,413);
				b.strokeText("Wed.",230,413);
				b.strokeText("Thur.",305,413);
				b.strokeText("Fri.",385,413);
				b.strokeText("Sat.",460,413);
				b.strokeText("Sun.",530,413); }

        if (k == 3) {
            var arr1 = {{ focusNewAddNum_list }};
            var arr = {{ focusNewAddNum_list }};
            var max = {{ maxnumnew }};
            for(var j=0;j<arr1.length;j++){
	arr1[j]=440-parseInt( arr1[j]/ (max/365));
}
b.moveTo(105,arr1[0]-30);//monday
b.lineTo(180,arr1[1]-30);
b.moveTo(180,arr1[1]-30);//tuesday
b.lineTo(255,arr1[2]-30);
b.moveTo(255,arr1[2]-30);//wesday
b.lineTo(330,arr1[3]-30);
b.moveTo(330,arr1[3]-30);//tuthday
b.lineTo(405,arr1[4]-30);
b.moveTo(405,arr1[4]-30);//friday
b.lineTo(480,arr1[5]-30);
b.moveTo(480,arr1[5]-30);//studay
b.lineTo(555,arr1[6]-30);//sunday
b.stroke();
b.font="15px Georgia";
b.textBaseline="Middle";
b.strokeText(arr[0],105,arr1[0]-50);
b.strokeText(arr[1],180,arr1[1]-50);
b.strokeText(arr[2],255,arr1[2]-50);
b.strokeText(arr[3],330,arr1[3]-50);
b.strokeText(arr[4],405,arr1[4]-50);
b.strokeText(arr[5],480,arr1[5]-50);
b.strokeText(arr[6],555,arr1[6]-50);
        }
        else if (k == 4) {
            var arr1 = {{ focusAllNum }};
            var arr = {{ focusAllNum }};
            var max = {{ maxnumall }};
            for(var j=0;j<arr1.length;j++){
	arr1[j]=440-parseInt( arr1[j]/ (max/365));
}
b.moveTo(105,arr1[0]-30);//monday
b.lineTo(180,arr1[1]-30);
b.moveTo(180,arr1[1]-30);//tuesday
b.lineTo(255,arr1[2]-30);
b.moveTo(255,arr1[2]-30);//wesday
b.lineTo(330,arr1[3]-30);
b.moveTo(330,arr1[3]-30);//tuthday
b.lineTo(405,arr1[4]-30);
b.moveTo(405,arr1[4]-30);//friday
b.lineTo(480,arr1[5]-30);
b.moveTo(480,arr1[5]-30);//studay
b.lineTo(555,arr1[6]-30);//sunday
b.stroke();
b.font="15px Georgia";
b.textBaseline="Middle";
b.strokeText(arr[0],105,arr1[0]-50);
b.strokeText(arr[1],180,arr1[1]-50);
b.strokeText(arr[2],255,arr1[2]-50);
b.strokeText(arr[3],330,arr1[3]-50);
b.strokeText(arr[4],405,arr1[4]-50);
b.strokeText(arr[5],480,arr1[5]-50);
b.strokeText(arr[6],555,arr1[6]-50);
        }
}
var As=document.getElementById("nav").getElementsByTagName("a");
As[0].style.borderBottom="5px solid black";
function bian(n){
    for(var j=0;j<As.length;j++){
        As[n].style.borderBottom="5px solid black";
        if(j!=n){
            As[j].style.border="0px";
        }
    }
}
</script>
{% endblock %}
